body{
  background-color: #d7f4ff; 
   font-family: 'Gotu', sans-serif;
}

#container{
	 width: 1300px;
	 margin-left: auto;
	 margin-right: auto;
}

#logo{
	 color:	grey;
	 text-align: center;
	 font-size: 50px;
	 letter-spacing: 3px;
	 font-weight:700;
}

#menu{
	 background-color: 	#e9d7f2;;
	 margin-top: 25px;
	 text-align: center;
	 padding: 10px;
	 border-radius: 5px;	
}

#topbar{
	background-color: #ffffff;
	color: gray;
	padding: 10px;
	margin-top: 1%;
	margin-bottom: 1%;
	height: 260px;
	border-radius: 5px;
}

#topbarL{
     float:left;
     padding: 20px;
     width: 140px;
}

#topbarR{
     float:left;
	 padding: 20px;
	 margin-left: 100px;
	 width: 850px;
	 font-size: 18px;
	 text-align: justify;
}

.topbatRT{
	margin-left: 50px;
}

#content{
	color: gray;
	display: flex;
	width: 1300px;
}

#sidebarL{
	background-color:#fff6be;
	padding:20px;
	width: 900px;
	border-radius: 10px;
	font-size: 20px;	
}

.dottedline{
	height: 5px;
	margin-top: 15px;
	margin-bottom: 20px;
	border-bottom: 6px dotted #e6d3a9
}

#sidebarR{
	background-color:#ffe5ef;
	padding:20px;
	width: 400px;
	height: 550px;
	margin-left: 2%;
	border-radius: 10px;
}

.ul{
   list-style-type: circle;
   padding: 15px;
   font-size: 20px;
   margin-left: 50px;
}

.link{
   font-size: 15px;
	color: gray;
	text-decoration: none;
}

#footer{
	 color: #202fff;
	 text-align: center;
	 padding: 20px;
	 font-size: 12px;
}

.option{
	 float:left;
	 min-height: 20px;
	 height: 25px;
	 font-size: 20px;
	 padding: 15px;
	 margin-left: 35px;
	 text-align: center;
	 transition: 0.3s;
	 color: rgb(133, 133, 133);
}

 .option:hover{
	 background-color: #fae0fd;
	 cursor: pointer;
	 border-radius: 5px;
}

.bigtitle{
font-size: 30px;
font-weight: 700px;
letter-spacing: 2px;
}

.sociallink{
	color: white;
}

.yt{
 margin: 19px;
 width: 80px;
 height: 80px;
 float: left;
 display: block;
 background-color:#FF0000;
}

.fb
{
 margin: 19px;
 width: 80px;
 height: 80px;
 float: left;
 display: block;
 background-color: #4668b3;
}


.inst{
 margin: 19px;
 width: 80px;
 height: 80px;
 float: left;
 display: block;
 background-color: #b32265;
}

 .pn{
  margin: 19px;
  width: 80px;
  height: 80px;
  float: left;
  display: block;
  background-color: #c72828;
 } 

.tch{
 margin: 19px;
 width: 80px;
 height: 80px;
 float: left;
 display: block;
 background-color: #8100eb;
}

a{
	text-decoration: none;
}